.carousel {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 30px;
}

.gambar {
    height: 80vh;
    width: 100%;
}

.browse {
    color: #8C8989;
    font-size: 46px;
    margin-top: 20px;
}

#bodi {
    min-height: 200px;
    background-color: #EB504D;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.kartu {
    margin-bottom: 20px;
}

.kartu:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    background: #eceff3;
}

.pagi {
    margin-top: 100px;
    margin-left: 400px;
}

.synopsis {
    margin-top: 40px;
}

.synopsis p {
    font-size: 20px;
    font-weight: 400;
}

.synopsis h1 {
    font-size: 32px;
    font-weight: 700;
}

#cursor:hover {
    cursor: pointer;
}

#tombol {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

#tombol:hover {
    background-color: #EB504D;
    color: white;
}

.sajarotun {
    height: 100vh;
}

.btn-primary {
    background-color: #EB504D !important;
    border: 0px !important;
}

.catbutton {
    background-color: white;
    color: #EB504D;
    font-size: 22px;
    border: 0px;
    min-width: 120px;
    padding: 5px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.catbutton-active {
    background-color: #EB504D;
    color: white;
    font-size: 22px;
    border: 0px;
    min-width: 120px;
    padding: 5px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}