@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.nav-link {
    color: #CDCDCD;
    font-size: 36px;
    margin-right: 10px;
}

.nav-link:hover {
    color: pink;
}

.browse {
    color: #8C8989;
    font-size: 46px;
}

.active1 {
    color: white;
    background-color: #EB507F;
    border-radius: 40px;
}

.category {
    margin-top: 15px;
    margin-bottom: 30px;
}

.carousel {
    margin-top: 50px;
}

.landingMania img {
    height: 500px;
}