.logout {
    display: flex;
    position: absolute;
    width: 90px;
    height: 40px;
    left: 90%;
    top: 1vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 18px !important;
    line-height: 50px;
    background-color: #EB504D !important;
    color: white;
    border: 0px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}