@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
.cover {
    background: no-repeat center/cover;
}

.teks-banner {
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 400;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.banner {
    background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F03%2Fstudio-ghibli-movies-coming-netflix-april-1-2020-01.jpg?q=90&w=1400&cbr=1&fit=max");
    margin-top: 84px;
    height: 95vh;
}

.action-button {
    margin-top: 10px;
}

.banner p {
    margin-top: 10px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
}

.rating-icon {
    width: 35px;
    height: 28px;
    position: relative;
    top: -5px;
}

.glimpse {
    display: flex;
}

.glimpse h5 {
    color: white;
    font-size: 25px;
    position: relative;
    top: -1px;
    left: 150px;
}

.comment-icon {
    width: 27px;
    margin-right: 10px;
}


/* .banner h3 {
    color: white;
    margin-top: -100px;
    font-family: "Roboto";
    font-size: 20px;
} */

.btn.watchlist {
    background-color: none !important;
    border: solid white;
    margin-left: 10px;
}

.btn.trailer {
    background-color: #fe024e !important;
}

.scroll .hero {
    transform: scale(0.98);
}

.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    /* background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  ); */
}

.hero .container {
    z-index: 10;
}

.btn.watchlist span {
    font-family: "Roboto";
    font-size: 22px;
}

.btn.trailer span {
    font-family: "Roboto";
    font-size: 22px;
}

.mau-apa {
    margin-top: 30px;
    margin-left: 0px;
}

.mau-apa a {
    color: black;
}

.mau-apa a:hover {
    color: white
}

.movie-details h4 {
    color: white;
}

.watchlist-nonactive {
    height: 0px !important;
    border: 0px !important;
    background-color: #c59b08;
}


/* .jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
} */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    position: relative;
    z-index: 12;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
    z-index: 12;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: "★ ";
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

button:active {
    background-color: yellow;
}

.mau-apa button:hover {
    background-color: #fe024e;
    color: white !important;
    border: 0px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Roboto';
}

.mau-apa button {
    background-color: white;
    color: black;
    border: 0px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Roboto';
}

.watchlist-active {
    background-color: lawngreen !important;
}

.submenu-active {
    background-color: #EB504D !important;
    color: white !important;
    border: 0px;
    height: 50px;
    border-radius: 30px !important;
    width: 140px;
    font-size: 18px !important;
}

.submenu:hover {
    background-color: #EB504D !important;
    color: white;
    border: 0px;
    height: 50px;
    border-radius: 30px !important;
    width: 140px;
    font-size: 18px
}

.submenu {
    background-color: white;
    color: white;
    border: 0px;
    height: 50px;
    border-radius: 30px;
    width: 140px;
    font-size: 18px !important
}


/*  */


/*  */


/* Desktop Version */


/*  */


/*  */


/*  */

@media (min-width: 992px) {
    .teks-banner {
        font-size: 70px;
        font-family: "Roboto";
        font-weight: 400;
        margin-top: 50px;
    }
    .banner p {
        margin-top: 10px;
        color: white;
        font-family: "Roboto";
        font-size: 20px;
    }
    .btn.watchlist {
        background-color: none !important;
        border: solid white;
        margin-left: 30px;
    }
    .btn.trailer {
        background-color: #fe024e !important;
    }
    .watchlist-active {
        background-color: lawngreen !important;
    }
    .btn.watchlist span {
        font-family: "Roboto";
        font-size: 24px;
    }
    .btn.trailer span {
        font-family: "Roboto";
        font-size: 24px;
    }
    .action-button {
        margin-top: 20px;
    }
    .submenu-active {
        background-color: #EB504D !important;
        color: white !important;
        border: 0px;
        height: 50px;
        border-radius: 30px !important;
        width: 200px;
        font-size: 25px !important;
    }
    .submenu:hover {
        background-color: #EB504D !important;
        color: white;
        border: 0px;
        height: 50px;
        border-radius: 30px !important;
        width: 200px;
        font-size: 25px
    }
    .submenu {
        background-color: white;
        color: white;
        border: 0px;
        height: 50px;
        border-radius: 30px;
        width: 200px;
        font-size: 25px !important
    }
}