@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.logoHeader {
    display: flex;
    margin-left: 10px;
    margin-top: 22px;
}

.logoHeader .logo1 {
    z-index: 2;
    position: absolute;
    width: 22px;
    height: 28.8px;
    left: 28px;
    top: 17.5px;
}

.logoHeader .logo2 {
    z-index: 1;
    position: absolute;
    width: 54.8px;
    height: 39.6px;
    left: 10px;
    top: 11px;
}

.navigation h1 {
    font-family: "Roboto";
    font-size: 0px !important;
    position: absolute;
    width: 120px;
    left: 160px;
    top: 17.5px;
    color: black;
}

.form-control {
    position: absolute;
    width: 750px !important;
    height: 38.5px !important;
    left: 330.5px;
    top: 17px;
}

::placeholder {
    font-size: 24px;
}

input[type="search"] {
    font-size: 24px !important;
    color: black;
}

.profil {
    position: absolute;
    height: 40px;
    left: 370px;
    top: 15px;
    border-radius: 1000px;
    margin-right: 32px;
}

.signUpButton {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 450px;
    top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 18px !important;
    line-height: 50px;
}

.searchIcon {
    width: 30px;
    position: relative;
    left: 1038px;
    top: 0px;
    margin-bottom: 0px;
}

.searchIcon img {
    height: 30px;
    position: relative;
    left: -725px;
    top: -47px;
}

.navbar-input {
    position: relative;
    left: 80px;
    top: 42px;
    width: 270px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid rgb(131, 131, 131);
    padding: 10px;
    font-size: 23px;
}

.navigation {
    margin-bottom: -100px;
}


/* Desktop Version */

@media (min-width: 992px) {
    .navigation h1 {
        font-family: "Roboto";
        font-size: 28.8px !important;
        position: absolute;
        width: 108px;
        left: 144px;
        top: 17.5px;
        color: black;
    }
    .logoHeader {
        display: flex;
        margin-left: 28.8px;
        margin-top: 22px;
    }
    .logoHeader .logo1 {
        z-index: 2;
        position: absolute;
        width: 24.75px;
        height: 32.4px;
        left: 96.75px;
        top: 17.5px;
    }
    .logoHeader .logo2 {
        z-index: 1;
        position: absolute;
        width: 61.6px;
        height: 44.5px;
        left: 73.8px;
        top: 11px;
    }
    .navbar-input {
        position: relative;
        left: 280px;
        top: -8px;
        width: 720px;
        height: 39.6px;
        border-radius: 8px;
        border: 1px solid rgb(131, 131, 131);
        padding: 9px;
        font-size: 20.7px;
    }
    .searchIcon img {
        height: 27px;
        position: relative;
        left: -75px;
        top: -42px;
    }
    .profil {
        position: absolute;
        height: 45px;
        left: 1040px;
        top: 11px;
        border-radius: 1000px;
        margin-right: 28.8px;
    }
}


/* Extra Large Desktop */

@media screen and (min-width: 1400px) {
    .navigation h1 {
        font-family: "Roboto";
        font-size: 32px !important;
        position: absolute;
        width: 120px;
        left: 160px;
        top: 17.5px;
        color: black;
    }
    .logoHeader {
        display: flex;
        margin-left: 32px;
        margin-top: 22px;
    }
    .logoHeader .logo1 {
        z-index: 2;
        position: absolute;
        width: 27.5px;
        height: 36px;
        left: 107.5px;
        top: 17.5px;
    }
    .logoHeader .logo2 {
        z-index: 1;
        position: absolute;
        width: 68.5px;
        height: 49.5px;
        left: 82px;
        top: 11px;
    }
    .navbar-input {
        position: relative;
        left: 300px;
        top: -8px;
        width: 800px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid rgb(131, 131, 131);
        padding: 10px;
        font-size: 23px;
    }
    .searchIcon img {
        height: 30px;
        position: relative;
        left: 20px;
        top: -45px;
    }
    .profil {
        position: absolute;
        height: 50px;
        left: 1150px;
        top: 11px;
        border-radius: 1000px;
        margin-right: 32px;
    }
}