.signUpButton {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 90%;
    top: 1vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 18px !important;
    line-height: 50px;
}

.ModalHeader {
    text-align: center;
}

#SignUp {
    font-size: 20px;
    margin-bottom: 0px;
}

#submitButton {
    font-size: 20px;
}

.Login {
    text-align: center !important;
    padding-top: 25px;
    font-size: 20px;
}


/* Desktop Version */

@media (min-width: 992px) {
    .signUpButton {
        position: absolute;
        width: 120px;
        height: 40px;
        left: 1130px;
        top: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 18px !important;
        line-height: 50px;
    }
}

@media screen and (min-width: 1400px) {
    .signUpButton {
        position: absolute;
        width: 120px;
        height: 40px;
        left: 1223px;
        top: 18px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 18px !important;
        line-height: 50px;
    }
}