.deleteFinal button {
    background-color: white;
    color: #EB504D;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: solid 4px #EB504D;
    position: relative;
    top: -10px;
    left: 500px;
    margin-bottom: 0px;
}

.deleteFinal button:hover {
    background-color: red;
    color: white;
    border: solid 4px white
}

.updateReview label {
    font-size: 25px;
}

.finalDeletion h1 {
    margin-top: -60px;
}

.finalDeletion .btn-secondary {
    background-color: white;
    color: #EB504D;
    border: solid 4px #EB504D;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.finalDeletion .btn-secondary:hover {
    background-color: rgb(51, 51, 255);
    color: white;
    border: solid 4px white
}

.back-active {
    background-color: white !important;
    color: #EB504D;
    border: solid 4px #EB504D;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.backIcon {
    background-color: #EB504D;
    color: #EB504D;
    border: solid 4px #EB504D;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.reviewBox textarea {
    width: 300px;
    border-radius: 10px;
}

.updateReview h3 {
    position: relative;
    top: 88px;
}

@media (min-width: 992px) {
    .reviewBox textarea {
        width: max-content;
        border-radius: 10px;
    }
    .updateReview h3 {
        position: relative;
        top: 0px;
    }
}